In [1]:
import os

In [2]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Dataset',
 'Mini Project Data Scientist - DSLS 2023.ipynb']

In [3]:
dataset_path = "Dataset"

In [4]:
os.listdir(dataset_path)

['aggregate_alerts_Kota Bandung.csv',
 'aggregate_alerts_Kota Banjar.csv',
 'aggregate_alerts_Kota Bekasi.csv',
 'aggregate_alerts_Kota Bogor.csv',
 'aggregate_alerts_Kota Cimahi.csv',
 'aggregate_alerts_Kota Cirebon.csv',
 'aggregate_alerts_Kota Depok.csv',
 'aggregate_alerts_Kota Sukabumi.csv',
 'aggregate_alerts_Kota Tasikmalaya.csv',
 'aggregate_median_irregularities_Kota Banjar.csv',
 'aggregate_median_irregularities_Kota Bogor.csv',
 'aggregate_median_irregularities_Kota Cimahi.csv',
 'aggregate_median_irregularities_Kota Cirebon.csv',
 'aggregate_median_irregularities_Kota Sukabumi.csv',
 'aggregate_median_irregularities_Kota Tasikmalaya.csv',
 'aggregate_median_jams_Kota Banjar.csv',
 'aggregate_median_jams_Kota Cirebon.csv',
 'aggregate_median_jams_Kota Sukabumi.csv',
 'Readme.rtf.docx',
 'Waze - Data Dictionary.xlsx',
 'Waze for Cities Data - Data Dictionary for Alerts, Jams, and Irregularities.xlsx']

# Data Understanding

In [5]:
import pandas as pd

In [6]:
df_bandung = pd.read_csv(dataset_path + '/aggregate_alerts_Kota Bandung.csv')

In [7]:
df_bandung.sample(5)

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
1771,5944486,2022-07-09 14:00:00.000,32.73,KOTA BANDUNG,Dr Djundjunan,JAM,"[107.58852766666661, -6.895236433333334]",60,2022-07-09
15710,6079982,2022-08-06 20:00:00.000,32.73,KOTA BANDUNG,Jalan ABC,JAM,"[107.607305, -6.919012000000002]",28,2022-08-06
6223,5989702,2022-07-18 17:00:00.000,32.73,KOTA BANDUNG,Batununggal Indah 2,WEATHERHAZARD,"[107.62623600000005, -6.962266999999998]",60,2022-07-18
10202,6027245,2022-07-26 10:00:00.000,32.73,KOTA BANDUNG,Laswi,JAM,"[107.630912, -6.920436]",1,2022-07-26
991,5939697,2022-07-08 04:00:00.000,32.73,KOTA BANDUNG,Gerbang Tol Gede Bage,ROAD_CLOSED,"[107.6905799999998, -6.959956500000006]",120,2022-07-08

In [8]:
df_bandung.shape

(30385, 9)

In [9]:
df_bandung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30385 entries, 0 to 30384
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         30385 non-null  int64
 1   time                       30385 non-null  object
 2   kemendagri_kabupaten_kode  30385 non-null  float64
 3   kemendagri_kabupaten_nama  30385 non-null  object
 4   street                     28496 non-null  object
 5   type                       30385 non-null  object
 6   avg_location               30385 non-null  object
 7   total_records              30385 non-null  int64
 8   date                       30385 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.1+ MB

In [10]:
df_bandung["time"] = pd.to_datetime(df_bandung["time"])

In [11]:
df_bandung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30385 entries, 0 to 30384
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         30385 non-null  int64
 1   time                       30385 non-null  datetime64[ns]
 2   kemendagri_kabupaten_kode  30385 non-null  float64
 3   kemendagri_kabupaten_nama  30385 non-null  object
 4   street                     28496 non-null  object
 5   type                       30385 non-null  object
 6   avg_location               30385 non-null  object
 7   total_records              30385 non-null  int64
 8   date                       30385 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.1+ MB

In [12]:
df_bandung.sample(5)

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
16443,6088599,2022-08-08 14:00:00,32.73,KOTA BANDUNG,NaN,ACCIDENT,"[107.6635213076924, -6.905929153846158]",65,2022-08-08
12052,6046528,2022-07-30 12:00:00,32.73,KOTA BANDUNG,Gerbang Tol Pasteur 2,JAM,"[107.57431999999996, -6.890595]",12,2022-07-30
1163,5939871,2022-07-08 14:00:00,32.73,KOTA BANDUNG,Gerbang Tol Pasteur 2,JAM,"[107.574245, -6.89058]",2,2022-07-08
21752,6138495,2022-08-19 17:00:00,32.73,KOTA BANDUNG,Sadang Serang,JAM,"[107.62572381250003, -6.889035479166665]",48,2022-08-19
13856,6065153,2022-08-03 06:00:00,32.73,KOTA BANDUNG,Leuwipanjang,ROAD_CLOSED,"[107.595139, -6.947390999999995]",60,2022-08-03

In [13]:
df_bandung.isnull().sum()

id                              0
time                            0
kemendagri_kabupaten_kode       0
kemendagri_kabupaten_nama       0
street                       1889
type                            0
avg_location                    0
total_records                   0
date                            0
dtype: int64

# Data Cleansing & Preprocessing

Drop missing value

In [14]:
df_bandung.dropna(inplace = True)
df_bandung.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28496 entries, 0 to 30383
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         28496 non-null  int64
 1   time                       28496 non-null  datetime64[ns]
 2   kemendagri_kabupaten_kode  28496 non-null  float64
 3   kemendagri_kabupaten_nama  28496 non-null  object
 4   street                     28496 non-null  object
 5   type                       28496 non-null  object
 6   avg_location               28496 non-null  object
 7   total_records              28496 non-null  int64
 8   date                       28496 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.2+ MB

Mengambil data pada waktu weekend

In [15]:
df_bandung.time.min()

Timestamp('2022-07-06 00:00:00')

In [16]:
df_bandung.time.max()

Timestamp('2022-09-06 00:00:00')

In [17]:
# Membuat kolom baru bernama 'hari' yang berisi nama hari dari kolom 'waktu'
df_bandung['hari'] = df['time'].dt.day_name()

# Mengambil data pada hari weekend saja (Sabtu atau Minggu)
df_bandung_weekend = df_bandung[(df_bandung['hari'] == 'Saturday') | (df_bandung['hari'] == 'Sunday')]

# Ambil sample data
df_bandung_weekend.sample

NameError: name 'df' is not defined