In [1]:
import os

In [2]:
os.listdir()

['.ipynb_checkpoints', 'Dataset', 'Untitled.ipynb', 'untitled.txt']

In [3]:
dataset_path = "Dataset"

In [4]:
os.listdir(dataset_path)

['aggregate_alerts_Kota Bandung.csv',
 'aggregate_alerts_Kota Banjar.csv',
 'aggregate_alerts_Kota Bekasi.csv',
 'aggregate_alerts_Kota Bogor.csv',
 'aggregate_alerts_Kota Cimahi.csv',
 'aggregate_alerts_Kota Cirebon.csv',
 'aggregate_alerts_Kota Depok.csv',
 'aggregate_alerts_Kota Sukabumi.csv',
 'aggregate_alerts_Kota Tasikmalaya.csv',
 'aggregate_median_irregularities_Kota Bandung.csv',
 'aggregate_median_irregularities_Kota Banjar.csv',
 'aggregate_median_irregularities_Kota Bekasi.csv',
 'aggregate_median_irregularities_Kota Bogor.csv',
 'aggregate_median_irregularities_Kota Cimahi.csv',
 'aggregate_median_irregularities_Kota Cirebon.csv',
 'aggregate_median_irregularities_Kota Sukabumi.csv',
 'aggregate_median_irregularities_Kota Tasikmalaya.csv',
 'aggregate_median_jams_Kota Bandung_fixed.csv',
 'aggregate_median_jams_Kota Banjar.csv',
 'aggregate_median_jams_Kota Cirebon.csv',
 'aggregate_median_jams_Kota Sukabumi.csv',
 'Readme.rtf.docx',
 'Waze - Data Dictionary.xlsx',
 'Waze for Cities Data - Data Dictionary for Alerts, Jams, and Irregularities.xlsx']

# Data Understanding

In [5]:
import pandas as pd

In [6]:
df_bandung = pd.read_csv(dataset_path + '/aggregate_alerts_Kota Bandung.csv')

In [9]:
df_bandung.sample(5)

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
3540,5965932,2022-07-14 06:00:00.000,32.73,KOTA BANDUNG,KH Wahid Hasyim,ROAD_CLOSED,"[107.58966274999976, -6.945608999999994]",240,2022-07-14
11293,6036437,2022-07-28 23:00:00.000,32.73,KOTA BANDUNG,Gerbang Tol Gede Bage,ROAD_CLOSED,"[107.69057999999981, -6.959956500000005]",114,2022-07-28
19514,6120892,2022-08-15 07:00:00.000,32.73,KOTA BANDUNG,Margacinta,JAM,"[107.652957, -6.955555999999999]",3,2022-08-15
26509,6181459,2022-08-28 21:00:00.000,32.73,KOTA BANDUNG,Setra Duta Dago 1,WEATHERHAZARD,"[107.56852900000007, -6.8708110000000024]",60,2022-08-28
8231,6012959,2022-07-23 03:00:00.000,32.73,KOTA BANDUNG,N11 Flyover Kopo-Cibaduyut,ROAD_CLOSED,"[107.59261600000008, -6.946127500000001]",120,2022-07-23

In [8]:
df_bandung.shape

(30385, 9)

In [10]:
df_bandung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30385 entries, 0 to 30384
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         30385 non-null  int64
 1   time                       30385 non-null  object
 2   kemendagri_kabupaten_kode  30385 non-null  float64
 3   kemendagri_kabupaten_nama  30385 non-null  object
 4   street                     28496 non-null  object
 5   type                       30385 non-null  object
 6   avg_location               30385 non-null  object
 7   total_records              30385 non-null  int64
 8   date                       30385 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.1+ MB

In [12]:
df_bandung["time"] = pd.to_datetime(df_bandung["time"])

In [13]:
df_bandung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30385 entries, 0 to 30384
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         30385 non-null  int64
 1   time                       30385 non-null  datetime64[ns]
 2   kemendagri_kabupaten_kode  30385 non-null  float64
 3   kemendagri_kabupaten_nama  30385 non-null  object
 4   street                     28496 non-null  object
 5   type                       30385 non-null  object
 6   avg_location               30385 non-null  object
 7   total_records              30385 non-null  int64
 8   date                       30385 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.1+ MB

In [14]:
df_bandung.sample(5)

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
7454,6003613,2022-07-21 15:00:00,32.73,KOTA BANDUNG,Cibaduyut Raya,ROAD_CLOSED,"[107.59526000000004, -6.9472129999999925]",60,2022-07-21
17346,6097434,2022-08-10 17:00:00,32.73,KOTA BANDUNG,Prof Dr Surya Sumantri,JAM,"[107.58145405128202, -6.890741794871792]",39,2022-08-10
23862,6160593,2022-08-24 07:00:00,32.73,KOTA BANDUNG,Akses Tol Pasteur,JAM,"[107.579792, -6.891725000000002]",31,2022-08-24
24508,6165410,2022-08-25 16:00:00,32.73,KOTA BANDUNG,Tol Padaleunyi,WEATHERHAZARD,"[107.59101767741939, -6.9491469892473114]",93,2022-08-25
12629,6051462,2022-07-31 12:00:00,32.73,KOTA BANDUNG,N11 Flyover Kopo-Cibaduyut,ROAD_CLOSED,"[107.59261600000006, -6.946127500000002]",120,2022-07-31

In [15]:
df_bandung.isnull().sum()

id                              0
time                            0
kemendagri_kabupaten_kode       0
kemendagri_kabupaten_nama       0
street                       1889
type                            0
avg_location                    0
total_records                   0
date                            0
dtype: int64

# Data Cleansing & Preprocessing

Drop missing value

In [16]:
df_bandung.dropna(inplace = True)
df_bandung.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28496 entries, 0 to 30383
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         28496 non-null  int64
 1   time                       28496 non-null  datetime64[ns]
 2   kemendagri_kabupaten_kode  28496 non-null  float64
 3   kemendagri_kabupaten_nama  28496 non-null  object
 4   street                     28496 non-null  object
 5   type                       28496 non-null  object
 6   avg_location               28496 non-null  object
 7   total_records              28496 non-null  int64
 8   date                       28496 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.2+ MB

Mengambil data pada waktu weekend

In [17]:
df_bandung.time.min()

Timestamp('2022-07-06 00:00:00')

In [18]:
df_bandung.time.max()

Timestamp('2022-09-06 00:00:00')

In [ ]:
week